* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  width: 100%;
  min-height: 100%;

  font-family: 'Source Sans Pro', sans-serif;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: url(../img/backgrounds/bg.jpg) center;
  background-size: cover;
}

#site-wrapper {
/*  position: relative;
  min-width: 100%;
  min-height: 100%;*/
  height: 100%;
}

/* group helper */
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
/* end */

#main {
  padding-top: 260px;
  min-height: 100%;
}

header {
  padding-top: 40px;
  width: 40%;
  float: right;
  #logo {
    height: auto;
    width: 100%;
  }
}

#slogan {
  .line {
    position: relative;
    height: 80px;
    width: auto;

    margin-bottom: 20px;
    padding: 15px;
    display: inline-block;

    background: black;
    color: white;
    font-size: 72px;
    font-weight: 100;
    line-height: 0.5em;

    opacity: 1;

    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
    transition: background 0.5s, color 0.5s;

    canvas {
      position: absolute;
      width: 0px;
      height: 100%;
      top: 0px;
      left: 0px;
      padding: 15px;
      padding-right: 0px;
      display: block;
      background: black;
      -webkit-transition: background 0.5s, width 0.5s, left 0.5s;
      -o-transition: background 0.5s, width 0.5s, left 0.5s;
      transition: background 0.5s, width 0.5s, left 0.5s;
    }

    &:hover {
      background: white;
      color: black;

      canvas {
        background: white;
        width: 60px;
        left:-60px;
      }
    }

    &.line-3, &.line-4 {
      font-weight: 400;
    }
  }
}

.imprint-toggle {
  position: fixed;
  top: 10px;
  right: 0px;
  color: white;
  background: black;
  padding: 2px 10px 2px 10px;
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  z-index: 999;

  &:hover+#imprint {
    //right: 0px;
  }
}

aside#imprint {
  overflow-y: scroll;
  z-index: 998;
  position: fixed;
  //display: none;
  height: 100%;
  width: 300px;
  right: -300px;
  top: 0px;
  padding: 35px 10px 10px 35px;
  background: white;
  background: rgba(255,255,255,0.5);

  -webkit-transition: right 0.5s;
  -o-transition: right 0.5s;
  transition: right 0.5s;

  &:hover, &.active {
    right: 0px;
  }

  h2 {
    font-size: 35px;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 1;
  }

  section {
    h2 {
      font-size: 25px;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      margin-bottom: 20px;
    }

    margin: 0;
    margin-bottom: 20px;
    line-height:1.2;
  }

  a {
    color: black;
    background-color: ransparent;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted black;

    -webkit-transition: color 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;

    &:hover {
      color: white;
      background-color: black;
    }
  }
}

footer {
  position: relative;
  margin-top: 200px;
  margin-bottom: 10px;

  #youtube, #facebook {
    font-size: 30px;
    line-height: 1em;
    display: inline-block;

    color: black;
    text-decoration: none;

    .icon {
      vertical-align: top;
      display: inline-block;
      height: 30px;
      background-size: contain;
      margin-right: 5px;
    }
  }

  #youtube {
    margin-right: 22%;
    .icon {
      width: 42px;
      background-image: url(../img/icons/youtube-logo.png);
    }
  }

  #facebook {
    .icon {
      width: 30px;
      background-image: url(../img/icons/facebook-logo.png);
    }
  }
}

#thorben-ziegler {
  z-index: 999;
  position: absolute;
  right: 10px;
  bottom: 10px;

  display: block;

  height: 30px;
  width: 135px;

  text-indent: -99999px;

  background: url(../img/elements/thorbenziegler-logo.svg);
  background-size: contain;

  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;

  &:hover {
    background-position: 135px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  #bg {
    background-position: 70% center;
  }

  #main {
    padding-top: 0px;
  }

  #header {
    float: none;
    margin: 0 auto;
    width: 80%;
    max-width: 400px;
    margin-bottom: 50px;

    #logo {
      display: block !important;
    }
  }

  #slogan {
    text-align: center;
  }

  aside#imprint {
    background: white;
  }

  footer {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;

    #youtube, #facebook {
      margin: 0;
      margin-top: 30px;
      display: block;
    }
  }
}

@media only screen and (max-width: 589px) {
  #slogan {
    .line {
      height: auto;
      font-size: 11.5vw;
      line-height: 1em;
    }
  }
}

@media only screen and (max-width: 430px) {
  aside#imprint {
    width: 100%;
    right: -100%;
  }
}

@media only screen and (max-width: 360px) {
  #slogan .line {
    font-size: 11vw;
  }
}